{% extends "cmnadmin.html" %}
{% block content %}
<style>
    .class{
        height: 100vh;
        width: 100%;
        justify-content: center;
    }
    .input{
        width: 100%;
        text-transform: lowercase;
    }
    .inn{
        margin-left: 35%;
        background-color:dodgerblue;
        width: 30%;
        padding-inline: 10rem;
        padding-block: 10vh;
        border-radius: 10px;
    }
    .sbtn{
        margin-left: 30%;
        padding: 10px 20px;
        border-radius: 5px;
    }
    

</style>
<div class="class">
    <form action="" method="post">
        {% csrf_token %}
        <br>
        <div class="inn">
            <h3>Class Name </h3   >
            <input type="text" name="classes" value="{{data.classes}}" class="form-control input"><br>
            <textarea type="text" name="desc" class="form-control input">{{data.desc}}</textarea><br>
                      <input type="submit" class="sbtn">
        </div>
    </form>
</div>


{% endblock content %}