{% extends "cmnadmin.html" %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
    .move{
        margin-left: 33%;
        margin-top: 20vh;
        height: 100vh;
    }
</style>
<div class="move">
    <form action="" method="post">
        {% csrf_token %}
        <select name="cla_ss" id="" >
            <option value="{{table.classes.id}}">{{table.classes.classes}}</option>
            {% for c in cla_ss %}
            <option value="{{c.id}}">{{c.classes}}</option>
            {% endfor %}
        </select>
        <select name="batch" id="" >
            <option value="{{table.batch.id}}">{{table.batch.batch_starting_time}} - {{table.batch.batch_ending_time}}</option>
            {% for b in batch %}
            <option value="{{b.id}}">{{b.batch_starting_time}} - {{b.batch_ending_time}}</option>
            {% endfor %}
        </select>
        <select name="department" id="" >
            <option value="{{table.department.id}}">{{table.department.department.name}}</option>
            {% for d in department %}
            <option value="{{d.id}}">{{d.department.name}}</option>
            {% endfor %}
        </select>
        <select name="day" id="">
            <option value="{{table.day}}">{{table.day}}</option>
            <option value="free">free</option>
            <option value="monday">monday</option>
            <option value="tuesday">tuesday</option>
            <option value="wednesday">wednesday</option>
            <option value="thursday">thursday</option>
            <option value="friday">friday</option>
            <option value="saturday">saturday</option>
            <option value="sunday">sunday</option>
        </select>
        <input type="submit" value="submit" class="btn">
    </form>
</div>
{% if messages %}
{% for m  in messages %}
<script>
    alert("{{m}}")
</script>
{% endfor %}
{% endif %}
{% endblock content %}


