{% extends "cmnemployee.html" %}
{% block content %}
<style>
    .setlink{
        height: 100vh;
        width: 100%;
        justify-content: center;
    }
    .input{
        width: 100%;
        text-transform: lowercase;
    }
    .inn{
        margin-left: 35%;
        background-color:dodgerblue;
        width: 30%;
        padding-inline: 10rem;
        padding-block: 20vh;
        border-radius: 10px;
    }
    .sbtn{
        margin-left: 30%;
        padding: 10px 20px;
        border-radius: 5px;
    }
</style>
<div class="setlink">
    <form action="" method="post">
        {% csrf_token %}
        <br><br><br>
        <div class="inn">
            <input type="text" name="link" class="form-control input" placeholder="type your class link" required><br>
            <input type="submit" class="sbtn">
        </div>
    </form>
</div>



{% endblock content %}




