{% extends alink %}
{% block content %}
<style>
    .content{
        line-height: 5vh;
        font-size: medium;
    }
</style>
<div >
    <h1>PRIVACY POLICY</h1>
    <h5 class="content">At EXL LEARNING, it is important that you feel secure and confident with how we treat your personal information. This Data Protection Policy describes how EXL LEARNING collects and uses your data. EXL LEARNING protects your personal information with the necessary measures and that you are always authorized to contact us to find out what personal information we have saved about you. EXL LEARNING will process the personal information required for the fulfilment of EXL commitment to you, only if you permit the process. <br><br>

        Your personal information is only used and handled by EXL LEARNING and the personal data assistants authorized by EXL. We do not transfer any personal data of customers to other companies or authorities without we’re not required to do so by law, regulation or official decision. EXL is secured to have appropriate technical and organizational safety and to take all measures required in each case to protect your data and ensure only authorized access to process your personal information. <br><br>
        
        EXL LEARNING is committed to protecting our customer’s privacy. It is important to us that our customer’s privacy is preserved securely while taking advantage of the services that we have to offer. We use the highest levels of security and safety to keep your personal information strictly confidential. We will not disclose or sell any of your personal information, including your name, address, age or contact details to any third party without your permission.</h5>
</div>

{% endblock content %}


