{% extends "cmnstudent.html" %}
{% block content %}
<style>
    .employe_home{
        display: flex;
        background-image:url("static\\media\\bgimg.jpg") ;
        height: 80vh;
        filter: brightness(80%);
        background-size: cover;
       
    }
    .ahc{
        width: 30%;
        height: 60vh;
        box-shadow: 0px 0px 4px 0px dodgerblue;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10vh;
        text-align: center;
        position: relative;
        z-index: 1;
        background: rgba(4, 4, 66, 0.242);
        border-radius: 10px;
        border: 1px solid #fff;
        color: white;
        font-size: larger;
        margin-top: 5vh;
        justify-content: center;
    
    }

    .ahc::before {
        content: '';
        position: absolute;
        height: 100%;
        border-radius: 10px;
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);
        z-index: -1;

    }
    #overflow{
        overflow: auto;
    }
    .sbtn{
        background-color: dodgerblue;
        color: white;
        padding: 6px 10px;
        border-radius: 8px;
        margin-left: -20rem;

    }
    .sbtn:hover{
        background-color: white;
        color: dodgerblue;
    }
</style>
<div class="employe_home">
    <div class="ahc" id="overflow"> <br>
        <a href="/msg_to_admin" class="sbtn"> sent message</a>
        <h3>Messages for you</h3>
        {% for d in msg%}
        <ul>
            <li>{{d.sent_by}} - {{d.content}}</li>
        </ul>
        
      
        {% endfor %}

    </div>
    <div class="ahc"><br>
        <h2>profile</h2><br>
        <h4>name : {{data.first_name}} {{data.last_name}}</h4><br>
        <h4>class : {{data.to_class.classes}}</h4><br>
        <h4>Batch : {{data.batch.batch_starting_time}} - {{data.batch.batch_ending_time}}</h4>
    </div>
    <div class="ahc"><br><br>
        <h3>you have classes on</h3>
        <ul>
        {% for c in classes %}
            <li>
                {{c.day}} - ({{c.batch.batch_starting_time}}-{{c.batch.batch_ending_time}})
            </li><br>
        {% endfor %}
        </ul>
    </div>
</div>
{% if messages %}
{% for m  in messages %}
<script>
    alert("{{m}}")
</script>
{% endfor %}
{% endif %}
{% endblock content %}

