{% extends "cmnadmin.html" %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
    .table{
        padding: 10px 20px;
    }
    .space{
        display: flex;
        justify-content: space-between;
        margin-inline: 10px;
    }
</style>
<div class="space">
    <form action="" method="post">
        {% csrf_token %}
        <input type="search" name="search" id="">
        <input type="submit" value="Filter">
    </form>
<a href="/add_table" class="btn">add timetable</a></div>
<br><br>
    <div>
    <table class="table" border="1">
        <tr>
            <th>
                no.
            </th>
            <th>
                class
            </th>
            <th>
                day
            </th>
            <th>
                batch
            </th>
            <th>
                subject
            </th>
            <th>
                edit
            </th>
            <th>
                delete
            </th>
        </tr>
        {% for d in data %}
        <tr>
            <td>
                {{forloop.counter}}
            </td>
            <td>
                {{d.classes.classes}}
            </td>
            <td>
                {{d.day}}
            </td>
            <td>
                {{d.batch.batch_starting_time}} - {{d.batch.batch_ending_time}}
            </td>
            <td>
                {{d.department.department.name}}
            </td>
            <td>
                <a href="/edit_table?id={{d.id}}"><span class="material-symbols-outlined">
                    edit_square
                    </span></a>
            </td>
            <td>
                <a href="/delete_table?id={{d.id}}"><span class="material-symbols-outlined">
                    delete
                    </span></a>
            </td>
        </tr>
        
        {% endfor %}
    </table>
</div>
{% if messages %}
{% for m  in messages %}
<script>
    alert("{{m}}")
</script>
{% endfor %}
{% endif %}
{% endblock content %}


